{% extends '::base.html.twig' %}

{% block body %}
    <form action="{{ path('login') }}" method="post">
        {{ form_row(form.login) }}
        {{ form_row(form.openPass) }}
        {{ form_row(form.ok) }}
        {{ form_row(form._token) }}
    </form>
{% endblock %}

{% block title %}
    authorization
{% endblock %}